@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");

.clock-label{
    -fx-font-size: 40px;
    -fx-font-family: "Orbitron";
    -fx-text-fill: white;
    -fx-background-color: black;
    -fx-padding: 10px;
}

.root{
    -fx-background-color: black;
}

.hamburger-button {
    font-size: 30px;
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
}

.context-menu {
    background-color: #333;
    color: white;
}

.context-menu .menu-item {
    font-size: 16px;
    padding: 10px;
}

.context-menu .menu-item:hover {
    background-color: #555;
}
